* {
	margin: 0;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: rgb(255, 251, 243);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.flex {
	display: flex;
}

main {
	justify-content: center;
	margin-top: 10vh;
	flex-grow: 1;
}

main > * {
	margin: 0 2vw;
}

section {
	margin: 5px;
}

/*Chatbox Styling*/
#chatbox {
	background-color: #7f563b;
	border: 1px solid black;
	flex-direction: column;
	justify-content: space-between;
	width: 15vw;
	height: 60vh;
}

#chatDisplayName {
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
}

#messageContainer {
	padding: 10px;
}

#msgInput {
	padding: 1vh 0 0 0;

	justify-content: space-between;

	textarea {
		resize: none;
	}

	button {
		padding: 5%;
		border-radius: 5%;
		background-color: #f0f8ff;
	}

	button:hover {
		cursor: pointer;
		background-color: #ff0000;
	}

	button:focus {
		background-color: #f0f8ff99;
	}
}
