/* General resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Use a color scheme and font similar to the uploaded image */
body {
	font-family: 'Arial', sans-serif;
	background-color: #fffbf3; /* #f4f4f4; */
	/* A light background similar to the image */
	color: #333;
	/* A standard text color */
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* Header styles */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #7f563b;
	padding: 1em;
	font-size: 2em;
	color: white;
	
	a {
		color: white; text-decoration: none;
	}
	
	nav {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		
		span {
			color: #a1887f;
		}
	}
}

/* Main content styles */
main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Footer styles */
footer {
	background-color: #7f563b;
	/* Same as header */
	padding: 1em;
	text-align: center;
	font-size: 1em;
	color: white;
}

/* Login box styles */
.login-box {
	background: white;
	padding: 2em;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 300px;
	/* Fixed width */
}

.existingAccount {
	background: white;
	padding: 2em;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	width: 236px;
}

/* Form styles */
form {
	display: flex;
	flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	padding: 0.5em;
	margin: 0.5em 0;
	border: 1px solid #ddd;
	border-radius: 4px;
}

input[type="submit"],
input[type="button"] {
	background-color: #c0a080;
	/* Same as header/footer */
	color: white;
	padding: 0.5em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 1em;
}

input[type="submit"]:hover {
	background-color: #a08570;
	/* A darker shade for hover effect */
}
