/* Header, footer: #7f563b, background: #fffbf3 */

/* General resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Use a color scheme and font similar to the uploaded image */
body {
	font-family: 'Arial', sans-serif;
	background-color: #fffbf3; /* #f4f4f4; */
	/* A light background similar to the image */
	color: #333;
	/* A standard text color */
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* Main content styles */
main {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.userprofile {
	background-color: #ffffff;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileHeader {
	background-color: #a1887f;
	color: white;
	padding: 20px;
	text-align: center;
}

.profileStats {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: #efebe9;

	div {
		text-align: center;
	}
}

.profileContent {
	padding: 20px;
}

.profileContent h2 {
	border-bottom: 2px solid #a1887f;
	padding-bottom: 5px;
}

.profilePicture {
	width: 100px;
	height: 100px;
	background-color: #d7ccc8;
	border-radius: 50%;
	margin: 20px auto;
}

.profileFriendList {
	span {
		text-decoration: underline;
	}
}
